// Bootstrap grid breakpoints (see also https://getbootstrap.com/docs/5.0/layout/grid/#variables):
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// padding-bottom changes depending on the size of the screen to ensure that
// the footer does NOT hide the main content, regardless of how the footer is
// resized:

main > .container {
  padding: 60px 15px 56px;
}

@media (max-width: $xl) {
  main > .container {
    padding: 60px 15px 80px;
  }
}
