@import "variables";

$header-height: 56px;
$top: $header-height + 4px;

// padding-bottom changes depending on the size of the screen to ensure that
// the footer does NOT hide the main content, regardless of how the footer is
// resized:
main > .container {
  padding: $top 15px 56px;
}
@media (max-width: $xl) {
  main > .container {
    padding: $top 15px 80px;
  }
}

// Ensure that the header does not hide the title of the section we point to via
// anchor links (e.g. via the table of content for /yoga/ or /cours/contenu/).
html {
  scroll-padding-top: $top;
}

// Table of content:
nav[data-toggle="toc"] {
  top: $top;
}
@media (max-width: $sm) {
  nav[data-toggle="toc"] {
    margin-bottom: 20px;
    // Disable stickyness so that the navigation does not follow scrolling:
    position: static;
  }
  // Don't expand nested items (which pushes down the rest of the page when navigating):
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
}

thead.sticky-top {
  top: $header-height;
  // Non-transparent head, otherwise thead and tbody overlap when scrolling with
  // a sticky thread:
  background-color: $cvy-purple;
  color: $gray-200;
  // Borders move with the scroll of the table, so we have a 1px large inset
  // box-shawdow to visually delimit the thead from the top navigation menu:
  box-shadow: inset 0 1px 0 $gray-300;
}
