$cvy-purple: #514ea1;
$cvy-purple-light: #8b89c0;

// See also: https://getbootstrap.com/docs/5.0/customize/color/
$gray-200: #e9ecef;
$gray-300: #dee2e6;

// Bootstrap grid breakpoints (see also https://getbootstrap.com/docs/5.0/layout/grid/#variables):
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
