<footer class="footer fixed-bottom mt-auto py-3">
<!-- <footer class="footer mt-auto py-3"> -->
  <div class="container">
    <div class="row">
      <div class="col text-footer-left">Rejoignez-nous sur les r&eacute;seaux sociaux : 
        <a href="https://www.facebook.com/profile.php?id=100072264787534">facebook</a> | 
        <a href="https://instagram.com/centre_vie_en_yoga?igshid=YmMyMTA2M2Y=/">instagramme</a>
      </div>
      <div class="col text-footer-right">
        <a href="tel:{{ site.phone.mobile | remove: '.' }}">{{ site.phone.mobile }}</a> | 
        <a href="mailto:{{ site.email }}">{{ site.email }}</a> 
      </div>
    </div>
  </div>
</footer>
