<footer class="footer fixed-bottom mt-auto py-3">
<!-- <footer class="footer mt-auto py-3"> -->
  <div class="container">
    <div class="row">
      <div class="col text-footer-left">Rejoignez-nous sur les réseaux sociaux :
        <a href="{{ site.facebook }}">Facebook</a> |
        <a href="{{ site.instagram }}">Instagram</a>
      </div>
      <div class="col text-footer-right">
        <a href="tel:{{ site.phone.mobile | remove: '.' }}">{{ site.phone.mobile }}</a> | 
        <a href="mailto:{{ site.email }}">{{ site.email }}</a> 
      </div>
    </div>
  </div>
</footer>
