<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo_white.png" alt="logo" height="26px" />
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        
          <!-- Sous-menu COURS   ------------------------------------------------------------------------------>        
          <li class="nav-item dropdown">
            {%- if page.url contains "/cours" -%}
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cours de Yoga</a>
            {%- else -%}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cours de Yoga</a>
            {%- endif -%}
            <ul class="dropdown-menu bg-dark">
              <!-- Add all sub-menu entries -->
              {%- assign subpages = site.pages | where: "type", "subpage" | sort: "order" -%}
              {%- for p in subpages -%}
                <li>
                {%- if p.title == page.title -%}
                  <a class="dropdown-item active" aria-current="page" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                {%- else -%}
                  <a class="dropdown-item" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                {%- endif -%}
                </li>
              {%- endfor -%}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/assets/pdf/fiche_inscription_cours_vie_en_yoga.pdf" target="_blank">Fiche d'inscription cours</a></li>
            </ul>
          </li>
          
          <!-- Sous-menu STAGES --------------------------------------------------------------------------->        
          <li class="nav-item dropdown">
            {%- if page.url contains "/stages" -%}
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Stages</a>
            {%- else -%}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Stages</a>
            {%- endif -%}
            <ul class="dropdown-menu bg-dark">
              <!-- Add all sub-menu entries -->
              {%- assign subpages = site.pages | where: "type", "sub-stages" | sort: "order" -%}
              {%- for p in subpages -%}
                <li>
                {%- if p.title == page.title -%}
                  <a class="dropdown-item active" aria-current="page" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                {%- else -%}
                  <a class="dropdown-item" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                {%- endif -%}
                </li>
              {%- endfor -%}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/assets/pdf/coupon_stage_centre_vie_en_yoga.pdf" target="_blank">Coupon d'inscription stage</a></li>
            </ul>
          </li>

          <!-- Add all other menu entries -->
          {%- assign pages = site.pages | where: "type", "page" | sort: "order" -%}
          {%- for p in pages -%}
            <li class="nav-item">
            {%- if p.title == page.title -%}
              <a class="nav-link active" aria-current="page" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
            {%- else -%}
              <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
            {%- endif -%}
            </li>
          {%- endfor -%}
          
          <!-- Sous-menu MEDIATHEQUE --------------------------------------------------------------------------->        
          <li class="nav-item dropdown">
            {%- if page.url contains "/mediatheque" -%}
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Médiathèque</a>
            {%- else -%}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Médiathèque</a>
            {%- endif -%}
            <ul class="dropdown-menu bg-dark">
              <!-- Add all sub-menu entries -->
              {%- assign subpages = site.pages | where: "type", "sub-mediatheque" | sort: "order" -%}
              {%- for p in subpages -%}
                <li>
                {%- if p.title == page.title -%}
                  <a class="dropdown-item active" aria-current="page" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                {%- else -%}
                  <a class="dropdown-item" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </li>

          <!-- Menu Contact -->
          {%- assign pages = site.pages | where: "type", "pages-a-droite-de-mediatheque" | sort: "order" -%}
          {%- for p in pages -%}
            <li class="nav-item">
            {%- if p.title == page.title -%}
              <a class="nav-link active" aria-current="page" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
            {%- else -%}
              <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
            {%- endif -%}
            </li>
          {%- endfor -%}
          
        </ul>
      </div>
    </div>
  </nav>
</header>
