<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">(typeof bootstrap === 'undefined') && document.write('<script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"><\/script>')</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">(typeof jQuery === 'undefined') && document.write('<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"><\/script>')</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net/1.12.1/jquery.dataTables.min.js" integrity="sha512-MOsicOaJyNWPgwMOE1q4sTPZK6KuUQTMBhkmzb0tFVSRxgx3VnGTwIyRme/IhBJQdWJkfTcIKozchO11ILrmSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">(typeof DataTable === 'undefined') && document.write('<script src="{{ "/assets/js/jquery.dataTables.min.js" | relative_url }}"><\/script>')</script>

<!-- Used by bibliotheque.html -->
<script type="text/javascript">
$(document).ready(function () {
    $('#books').DataTable({
        language: {
            url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/fr-FR.json"
        },
    });
});
</script>
