<h5>Delphine BOULET</h5> 

<img src="/assets/img/portrait_delphine_clair.webp" width="200px" height="200px" alt="Photo de Delphine Boulet" class="circle-center-profile-picture" />

<p>
  Delphine pratique le Yoga depuis 15 ans. 
  Elle s’est ensuite formée à son enseignement ainsi qu’au DO-IN (étirements, automassage, méditation). 
  Cela lui apporte le parfait équilibre avec sa pratique du Wing-Chun (art martial chinois).
</p>

<h5>Son parcours</h5> 

<p>
  Delphine a débuté le Yoga il y a une quinzaine d'années en complément de la kinésithérapie afin de soulager de fortes douleurs lombaires. 
  Cela a été un véritable coup de cœur. 
  Depuis, les pratiques corporelles et la méditation font partie de sa vie.
</p>
<p>
  Après une formation d’enseignante de yoga sur 3 ans et plusieurs formations complémentaires, elle s’est orientée vers l’enseignement du Yoga auquel elle dédie sa vie, laissant de côté son ancien métier dans la construction.
</p>

<img src="/assets/img/delphine_danse_shiva_carre.webp" width="300px" alt="Photo de Delphine Boulet" class="rond-center-profile-picture" />
<br />

<h5>Son enseignement : le HATHA YOGA</h5> 

<p>
  Delphine enseigne le HATHA YOGA, forme traditionnelle du yoga mais adaptée au mode de vie occidental. 
  Elle aime vous accompagner pour multiplier vos propres expériences de yoga afin de découvrir les bienfaits qu'il procure, d'abord physique puis psychique. 
  Elle vous aide à être à l'écoute de vous-même, en renforçant l'équilibre entre le corps, l'esprit et le mental.
</p>
<p>
  Sa priorité est de vous amener à cultiver le non-jugement et la confiance en vous pour vivre votre vie avec joie et reconnaissance. 
  Elle propose depuis plusieurs années des cours de Hatha Yoga et Yin yoga dans le Haut-Grésivaudan.
</p>

<img src="/assets/img/delphine_fente_haute_carre.webp" width="300px" alt="Photo de Delphine Boulet" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 

<ul>
  <li>Professeur de Hatha Yoga - Diplôme fédéral de professeur de yoga de l'Ecole Nationale des Professeurs de Yoga / FNPY (formation sur 3 ans).</li>
  <li>Enseignante de yoga sur chaise – RVHY (Recherche sur la Vieillesse et le Handicap en Yoga) / FIDHY - Jeannot Margier.</li>
  <li>Enseignante de Yin yoga – formée par Stéphanie Aulestia (Zenenergy).</li>
  <li>Formation « Périnée » - Bernadette de Gasquet.</li>
  <li>Formation DO-IN (étirements, automassage, digipression, méditation) – Ecole Shen Ti.</li>
</ul>
