<h5>Elke LAUFFER</h5> 

<img src="/assets/img/portrait_elke.webp" width="200px" height="200px" alt="Photo d'Elke Lauffer" class="teacher-profile-picture float-end" />

<p>
  Elke est une yogini passionnée, une Ayurveda Lifestyle Coach et une amoureuse de la nature.
</p>
<p>
  Depuis toujours elle été passionnée de sport, et a essayé toutes sortes de disciplines. Elle a été entraîneuse de fitness et manager d'événements, toujours à la recherche de quelque chose...
</p>
<p>
  Vers la trentaine, on lui a diagnostiqué une spondylarthrite ankylosante (une forme de rhumatisme). 
  « J'ai d'abord été totalement choquée et je me suis sentie assez impuissante. 
  Je sentais des douleurs au dos depuis longtemps, il y avait toujours quelque chose qui me faisait mal (malgré de nombreuses consultations médicales), mon dos était tendu ou bloqué. 
  Mon corps m'a alors montré que je devais changer quelque chose dans ma vie et, par l'intermédiaire d'une amie, j'ai fini par me mettre au yoga. »
</p>
<p>
  Elle a très vite remarqué que la globalité du yoga contribuait pour une part importante à l'acceptation de sa maladie. 
  Elle a compris qu’elle ne devait rien chercher, que tout était déjà présent en soi. 
  Grâce à ses professeurs et à sa propre pratique, elle a appris qu’elle ne pouvait pas changer les hauts et les bas de la vie, mais changer la manière de les gérer. 
  « J'en suis profondément reconnaissante ».
</p>

<img src="/assets/img/elke_equilibre.webp" width="300px" alt="Photo d'Elke LAUFFER" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 
<p>
  En 2014, première formation de professeur de yoga, afin de plonger plus profondément, d'apprendre plus et de mieux comprendre. D'autres formations ont suivi, notamment une formation en yogathérapie pour mieux comprendre les relations complexes entre le corps, l'esprit et l'âme.
</p>
<p>
  Récemment, une formation d'un an de Ayurveda Lifestyle coach est venue compléter ses connaissances et s'intègre toujours dans ses cours de yoga.
</p>  
<ul>
  <li>2014 : <br />
    Formation de professeur de yoga (RYS 200) au Sundari Yoga, Saint-Gall (Suisse), selon les standards internationaux reconnus de la Yoga Alliance sous la direction de Katchie Ananda et Andreas Vetsch, Hanumanyoga, Arbon.
  </li>
  <li>2014 - 2017 : <br />
    De mai 2014 à juin 2017, j'ai suivi la formation de 300 heures de Svastha Yoga selon T. Krishnamacharya avec le Dr Günter Niessen (Yoga et Orthopédie) et Ganesh Mohan (Svastha Yoga). 
    Les différents modules étudiés furent: anatomie fonctionnelle, maladies de l'appareil locomoteur, maladies respiratoires et cardiovasculaires, maladies immunologiques, troubles dépressifs et dépendance, 
    pranayama, méditation et santé Svastha dans une perspective holistique.
  </li>
  <li>2015 : <br />
    Les sept lois du yoga, sept ateliers avec Andreas Vetsch, Hanumanyoga, Arbon
  </li>
  <li>2016 - 2017 : <br />
    300 heures de formation avancée de professeur de yoga Vinyasa selon les standards de l'Alliance de Yoga sous la direction d'Almut Schotte, moveorespiro, Stuttgart. 
    Les autres instructeurs étaient Alexandra Harfield, Cat Kabira, Phil Lemke, Doug Keller et Stephen Thomas.
  </li>
  <li>2018 : <br />
    Formation intensive composée de six modules différents. 
    Le programme sert à approfondir la pratique individuelle du yoga, la philosophie du yoga et l'examen de la propre personnalité. 
    La philosophie védique et bouddhiste sert de base.
  </li>
  <li>2021 - 2022  <br />
    Formation de Ayurveda Lifestyle Coach auprès du Dr Janna Scharfenberg, terminée avec succès en octobre 2022.
  </li>
</ul>

<img src="/assets/img/elke_salut.webp" width="300px" alt="Photo d'Elke LAUFFER" class="rond-center-profile-picture" />

