<h5>Elke LAUFFER</h5> 

<img src="/assets/img/portrait_elke.webp" width="200px" height="200px" alt="Photo d'Elke Lauffer" class="circle-center-profile-picture" />

<p>
  Elke est une yogini passionnée, une Ayurveda Lifestyle Coach et une amoureuse de la nature.
  Elle pratique le yoga depuis 30 ans et a commencé sa formation d’enseignante il y a 9 ans.
</p>

<h5>Son parcours</h5> 
<p>
  Elke est une sportive dans l’âme. Elle aime l’aventure et apprendre de nouvelles disciplines. Elle a été entraîneuse de fitness, et manager d'événements...
</p>
<p>
  A 30 ans, on lui diagnostiqué une spondylarthrite ankylosante (une forme de rhumatisme). 
  « J'ai d'abord été choquée et je me suis sentie impuissante. Depuis des années, j’avais mal au dos et toujours le dos bloqué. 
  Je vivais avec des douleurs malgré de nombreuses consultations médicales. C’est mon corps qui m’a fait réaliser que je devais changer quelque chose dans ma vie et grâce à une amie, j'ai découvert le yoga. »
</p>
<p>
  Elle a très vite remarqué que la globalité du yoga contribuait pour une part importante à l'acceptation de soi et de sa maladie. 
  Elle a compris qu’elle ne devait rien chercher, que tout était déjà présent en soi. 
  On ne peut pas changer les hauts et les bas de la vie, mais, grâce au Yoga, on peut changer sa manière de les gérer.
  « J'en suis profondément reconnaissante ».
</p>
<img src="/assets/img/elke_etirement.webp" width="300px" alt="Photo d'Elke LAUFFER" class="rond-center-profile-picture" />
<br />

<h5>Son enseignement : le VINYASA YOGA</h5> 
<p>
  Elke enseigne le VINYASA YOGA : un yoga qui se veut assez dynamique et puissant, dans lequel vous trouverez également le silence et la détente.
  La combinaison d'exercices de pleine conscience, de pranayama, d'asanas et d'exercices de relaxation crée un équilibre idéal entre le physique et le mental. 
  Les séquences de mouvements vous aident à faire circuler votre propre énergie. 
  Un jeu entre la stabilité extérieure et la douceur intérieure, entre la force et le mouvement, le calme et le silence, un dialogue entre l'intérieur et l'extérieur, peut ainsi se développer.
</p>
<p>
  Avec ses cours, elle vous invite à créer un lien entre le corps et l'esprit, afin que vous puissiez reconnaître la véritable essence qui est en vous.
</p>  
<img src="/assets/img/elke_salut.webp" width="300px" alt="Photo d'Elke LAUFFER" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 

<ul>
  <li>2014 : <br />
    Formation de professeur de yoga (RYS 200) au Sundari Yoga, Saint-Gall (Suisse), selon les standards internationaux reconnus de la Yoga Alliance sous la direction de Katchie Ananda et Andreas Vetsch, Hanumanyoga, Arbon.
  </li>
  <li>2014 - 2017 : <br />
    Formation de 300 heures en yogathérapie pour mieux comprendre les relations complexes entre le corps, l'esprit et l'âme. 
    Formation de Svastha Yoga selon T. Krishnamacharya avec le Dr Günter Niessen (Yoga et Orthopédie) et Ganesh Mohan (Svastha Yoga). 
    Les différents modules étudiés furent : anatomie fonctionnelle, maladies de l'appareil locomoteur, maladies respiratoires et cardiovasculaires, maladies immunologiques, 
    troubles dépressifs et dépendance, pranayama, méditation et santé, Svastha dans une perspective holistique.
  </li>
  <li>2015 : <br />
    Les sept lois du yoga, sept ateliers avec Andreas Vetsch, Hanumanyoga, Arbon
  </li>
  <li>2016 - 2017 : <br />
    300 heures de formation avancée de professeur de yoga Vinyasa selon les standards de l'Alliance de Yoga sous la direction d'Almut Schotte, Moveorespiro, Stuttgart. 
  </li>
  <li>2018 : <br />
    Formation intensive composée de six modules différents pour approfondir la pratique individuelle du yoga, la philosophie du yoga et l'examen de la propre personnalité.
  </li>
  <li>2021 - 2022  <br />
    Formation de <strong>Ayurveda Lifestyle Coach</strong> auprès du Dr Janna Scharfenberg.
  </li>
</ul>

