<h5>Eva MANCEAU</h5>

<img src="/assets/img/photo_eva.jpg" width="200px" height="200px" alt="Photo d'Eva MANCEAU" class="teacher-profile-picture float-end" />

<h5>Sa formation</h5> 

<p>Formation d'Enseignante de yoga à l'Ecole Française de Yoga Auvergne Rhône Alpes (EFYARA - Lyon). Elle continue à se former en Yoga de l'Energie en suivant les enseignements d'Ora Josef-Hay.</p>

<h5>Son parcours</h5> 

<p>Elle a rencontré le yoga à plusieurs reprises dans son parcours, jusqu'au jour où c'est devenu un réel choix, un engagement profond, une réflexion de vie, un mode de vie.</p>

<h5>Son moteur</h5> 

<p>Accompagner chacun vers la gestion autonome de son hygiène de vie, de sa santé et de son développement personnel.
Le yoga permet de revenir en conscience, de retrouver sa propre nature, de s'écouter et de se respecter.</p>

<h5>Autres</h5> 

<p>Egalement praticienne en massages de bien-être depuis de nombreuses années, Eva pratique divers techniques de massage telles que :</p>

<ul>
  <li>le shiatsu, le thaïlandais et la réflexologie plantaire,</li>
  <li>le massage aux huiles essentielles, le massage aux pierres chaudes et le lymphodrainage,</li>
  <li>l'harmonisation énergétique.</li>
</ul>
 
<p>Elle a acquis une solide connaissance du corps, des sensations et des difficultés qui peuvent y être liées.</p>
<p>Convaincue de la puissance du lien corps/esprit, Eva participe à l'encadrement de séjours de jeûne alimentaire et de ressourcements, elle accompagne également des sportifs de hauts niveaux dans leurs globalités (physique, psychique, énergétique, spirituelle).</p>
<p>Depuis toute jeune elle s'est tournée vers autrui, dans un désir de partage bienveillant, avec la spontanéité et l'authenticité qui la caractérisent.
Elle n'en demeure pas moins une professionnelle exigeante et dynamique, qui sait offrir une écoute active de qualité.
</p>

<img src="/assets/img/eva_2.webp" width="300px" alt="Photo d'Eva Manceau" class="rond-center-profile-picture" />

<br />

