<h5>Jenny GIUDICI</h5> 

<img src="/assets/img/portrait_jenny.webp" width="200px" height="200px" alt="Photo de Jenny Giudici" class="circle-center-profile-picture" />

<p>Jenny est une grande adepte du Yoga, qu’elle pratique depuis 17 ans et enseigne depuis 9 ans. Elle a un esprit créatif, aime expérimenter et profiter de la vie.</p>


<h5>Son parcours</h5> 

<p>
  D’origine italienne, Jenny est avant tout une enfant de la nature qui aime rire, créer, cuisiner et croquer la vie à pleine dents. 
  Elle a découvert le Yoga il y a 17 ans et a éprouvé un attrait profond et véritable pour cette discipline. 
  Comme elle souhaite partager ce qui l’anime et qui fait sens pour elle, elle a enchainé de nombreuses formations principalement en France, mais aussi en Inde. 
  Elle a ensuite commencé son enseignement il y a 9 ans.
</p>

<img src="/assets/img/jenny_guerrier3.webp" width="300px" alt="Photo de Jenny GIUDICI" class="rond-center-profile-picture" />
<br />

<h5>Son enseignement : le YOGA YIN-YANG</h5> 

<p>
  Jenny <a href="https://jenny.yoga/" target="_blank">enseigne</a> le YOGA YING-YANG, inspiré du Yin yoga et du Vinyasa yoga.
  C'est un équilibre entre l'énergie Yin (lunaire, passive) et l'énergie Yang (solaire, active). 
  La séance commence avec des postures douces et relaxantes de Yin yoga. 
  Elle se poursuit par un enchaînement de postures plus actives de style Vinyasa. 
  Le retour au calme s’effectue avec des postures de Yin yoga et une période de relaxation.
</p>
<p>
  Jenny vous accompagne dans la découverte du Yoga, un outil formidable pour votre bien-être et, comme tout outil, il faut apprendre à vous en servir !
  Pour elle, dans le yoga, il est primordial de vous respecter et de vous écouter.
</p>

<img src="/assets/img/jenny_guerrier.webp" width="300px" alt="Photo de Jenny GIUDICI" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 

<ul>
  <li>Ecole International de Yoga Sivananda Vedanta : 200h.</li>
  <li>Yoga Hormone Therapy avec sa créatrice Dina Rodrigues (sa créatrice) : 60h.</li>
  <li>Teacher training Refresher (une formation pour approfondir ses connaissances, améliorer son enseignement, se reconnecter à l’enseignement classique du Yoga) : 50h.</li>
  <li>Divine Alchemy Yoga  School  centré sur les chakras avec Mira Jamadi : 15h.</li>
  <li>Formation de Yoga Vinyasa en Inde, à Mysore par l’école Samyak Yoga : 200h.</li>
  <li>Advanced yoga fundamentals avec Simon Borg de Yogasynergy : 24h.</li>
  <li>Formation Yin Yoga avec Biff Mithoefer et Cecile Roubaud : 50h.</li>
  <li>Formation intensive avec Mathieu Boldron : 30h.</li>
  <li>Formation Ajustements avec Julien Levy : 15 h.</li>
</ul>

