<h5>Jenny GIUDICI</h5> 

<img src="/assets/img/portrait_jenny.webp" width="200px" height="200px" alt="Photo de Jenny Giudici" class="teacher-profile-picture float-end" />

<p>Jenny pratique le Yoga depuis 2006 et l’enseigne depuis 2014.</p>

<p>
  D’origine italienne, elle est surtout une enfant de la nature, qui aime rire, créer, cuisiner et profiter de la vie.
  Elle aime expérimenter et partager, transmettre ce qui l’anime et qui fait sens pour elle. 
</p>

<h5>Sa formation</h5> 

<ul>
  <li>Ecole International de Yoga Sivananda Vedanta : 200h.</li>
  <li>Yoga Hormone Therapy avec Dina Rodrigues (sa créatrice) : 60h.</li>
  <li>Teacher training Refresher (pour approfondir ses connaissances, améliorer son enseignement, se reconnecter à l’enseignement classique du Yoga) : 50h.</li>
  <li>Divine Alchemy Yoga  School  centré sur les chakras avec Mira Jamadi : 15h.</li>
  <li>Formation de Yoga Vinyasa en Inde, à Mysore auprès de l’école Samyak Yoga : 200h.</li>
  <li>Advanced yoga fundamentals avec Simon Borg de Yogasynergy : 24h.</li>
  <li>Formation Yin Yoga avec Biff Mithoefer et Cecile Roubaud : 50h.</li>
  <li>Formation intensive avec Mathieu Boldron : 30h.</li>
  <li>Formation Ajustements avec Julien Levy : 15 h.</li>
</ul>

<img src="/assets/img/jenny_guerrier3.webp" width="300px" alt="Photo de Jenny GIUDICI" class="rond-center-profile-picture" />
<br />
<h5>Son approche</h5> 

<p>
  Dans le yoga il est important de se respecter et de s’écouter. C’est un outil formidable et, comme tout outil, il faut apprendre à s’en servir !
</p>
<p>
  <u>Le Yoga Yin-Yang</u> <br />
  Le Yin Yang Yoga est un cours qui s'inspire du yin yoga et du vinyasa yoga ; c'est un équilibre entre l'énergie Yin (lunaire, passive) et l'énergie Yang (solaire, active).
</p>
<p>
  La séance commence avec des postures douces et relaxantes de Yin yoga. 
  Elle se poursuit par un enchaînement de postures plus actives de style Vinyasa. 
  Le retour au calme s’effectue avec des postures de Yin yoga et une période de relaxation.
</p>

