<h5>Laurence PIERRET</h5>

<img src="/assets/img/photo_laurence.jpg" width="200px" height="200px" alt="Photo de Laurence PIERRET" class="teacher-profile-picture float-end" />

<h5>Son parcours</h5> 

<p>Enseignante de langue pour jeunes adultes, elle est depuis toujours motivée par le partage et la transmission.</p>
<p>Depuis toujours, également, les disciplines corporelles et du mouvement l'attirent particulièrement.
Elle se consacre d'abord à la danse pendant de nombreuses années pour ensuite se tourner vers le yoga.</p>
<p>Depuis 2013 elle suit les cours de divers niveaux au Centre Vie en Yoga à raison de 2 cours par semaine ainsi que des cours particuliers auprès d'Ora Josef-Hay.</p>
<p>Là, elle adhère particulièrement à l'attitude de bienveillance et de respect du corps et est séduite par l'expérience intérieure proposée par cette discipline. Le yoga a pris ainsi une place de plus en plus importante dans sa vie. Elle explore cette pratique régulièrement.</p>

<h5>Sa formation</h5> 

<p>Afin d'approfondir ses connaissances et sa compréhension du yoga, elle s'engage dans la formation professionnelle de Boris Tatzky à l'EFYSE et poursuit son parcours à l'<a href="https://conservatoireduyoga.net/efyara-ecole-francaise-de-yoga-auvergne-rhone-alpes" target="_blank">EFYARA </a>.</p>

<h5>Son moteur</h5> 

<p>Pour elle, enseigner est un échange humain dans lequel l'enseignant apprend perpétuellement et est amené à se questionner et se repositionner sans cesse. C'est le rapport humain qui la pousse à approfondir ses connaissances et ses expériences afin de mieux pouvoir les partager.</p>
