<h5>Margot SALLES</h5>

<img src="/assets/img/portrait_margot.webp" width="200px" height="200px" alt="Photo de Maria Salles" class="circle-center-profile-picture" />

<p>
  Initialement danseuse et professeure de danse, Margot a mis le Yoga au centre de sa vie professionnelle, après des années de pratique quotidienne qui ont transformé son rapport au corps. 
  Adepte d’art et de nature, Margot a choisi de vivre à Grenoble, au cœur des montagnes.
</p>

<h5>Son parcours</h5> 

<p>
  Passionnée de danse depuis l’âge de 5 ans, Margot se forme au Junior Ballet d’Aquitaine à Bordeaux, puis valide son Diplôme d’Etat de professeur de danse contemporaine à Paris afin de transmettre sa passion.
</p>
<p>
  Enseignante pendant huit ans à Paris, dont cinq ans en Conservatoire, elle continue d’enrichir son expérience par le biais de nouvelles approches corporelles et s’ouvre alors au yoga. 
  Après plusieurs années d’exploration et d’expériences, c’est avec Fabienne Menjucq, professeur de yoga, énergéticienne et danseuse, que sa pratique prend du sens.
</p>
<p>
  Fascinée par les transformations intérieures qui s’opèrent grâce aux enseignements qu’elle reçoit, elle participe à des retraites, médite en pleine conscience selon les enseignements du Village des Pruniers et 
  décide de se former afin d’approfondir cette nouvelle voie.
</p>  
<p>
  C’est une révélation ! Sa formation en Hatha et Yin Yoga au Studio Marga lui permet d’appréhender le yoga comme une façon d’être au monde, portée par des valeurs essentielles comme la gratitude, l’humilité et la compassion. 
  Pour Margot, le rôle du yogi (enseignant) est avant tout d’accompagner avec bienveillance, joie et empathie. Il ne s’agit en aucun cas de performance physique.
</p>  

<img src="/assets/img/maria_fente.webp" width="300px" alt="Photo de Maria Salles" class="rond-center-profile-picture" />
<br />

<h5>Son enseignement : le HATHA YOGA, le MUNZ FLOOR et le YIN YOGA</h5> 

<p>
  Margot enseigne le HATHA YOGA, forme traditionnelle du yoga mais adaptée au mode de vie occidental.  
</p>
<p>
  Nourrie de son expérience de professeur de danse, elle enseigne avec douceur et respect de l’anatomie. 
  Consciente que chaque corps est différent et que le corps est différent chaque jour, elle s’adapte à votre niveau et à vos besoins du moment, dans un souci d’harmoniser l’énergie entre le corps et l’esprit.
</p>
<p>
  Ses cours intègrent les chakras, véritables portes vers votre monde intérieur, qui mettent en lumière le potentiel de chaque posture (force, stabilité, confiance, ouverture, joie).
  La respiration accompagne la pratique des asanas et les exercices de pranayama (maîtrise du souffle) apaisent et clarifient durablement votre mental.
</p>
<p>
  Elle enseigne également le MUNZ FLOOR, technique somatique qui stimule la santé des fascias à travers des mouvements au sol, lents et spiralés, permettant également de décompresser la colonne vertébrale, gagner en amplitude articulaire et tonifier la musculature profonde.
</p>
<p>
  Elle propose en cours d'année, des ateliers de YIN YOGA.
</p>

<img src="/assets/img/margot_ardha_matsyendra.webp" width="300px" alt="Photo de Delphine Boulet" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 

<p>
  <strong>Formation 200H Hatha Yoga et Yin Yoga au Studio Marga (Paris).</strong>
</p>  
<ul>
  <li>Enseignement en Hatha Yoga (Maura Taurus)</li>
  <li>Yin Yoga (Fabienne Menjucq)</li>
  <li>Philosophie (Yogacharya Swami Sri Venudas)</li>
  <li>Anatomie (Laura Champcommunal)</li>
  <li>Médecine chinoise (Lucas Manganelli)</li>
  <li>Ayurveda, Chant (Floo Kirtans)</li>
</ul>
<p>
  <strong>Formation coach Munz Floor© avec son créateur Alexandre Munz (Chrysalis Certificat 1).</strong>
</p>
<p>
  <strong>Formation et Diplôme d’Etat de professeur de danse contemporaine (Studio Harmonic,
  Paris)</strong>
</p>
<p>

</p>