<h5>Maria Jose ROMERO HICKS</h5> 

<img src="/assets/img/portrait_maria.webp" width="200px" height="200px" alt="Photo de Maria Jose Romero Hicks" class="circle-center-profile-picture" />

<p>
  Maria est originaire du Mexique, elle habite en France depuis 6 ans et est devenue française dans l’âme. 
  Depuis l'âge de 16 ans, elle pratique le Yoga, qui s’accorde avec ses valeurs d’honnêteté et de respect.
</p>

<h5>Son parcours</h5> 

<p>
  Maria aime croquer la vie à pleine dents. Elle a une passion pour le Yoga et le chocolat. 
  Elle débute le yoga dès l’adolescence pour combiner activité physique et exercices respiratoires. 
  Aujourd'hui, il a complètement changé sa vie. 
  C'est une philosophie à 360 degrés qu’elle veut partager avec vous aujourd'hui. 
  Maria a toujours aimé transmettre et a été enseignante de droit international avant de devenir professeur de Yoga. 
  Elle est impatiente de vous accompagner dans votre voyage de découverte du yoga et du bien-être.
</p>

<img src="/assets/img/maria_posture_vace.webp" width="300px" alt="Photo de Maria Jose Romero" class="rond-center-profile-picture" />
<br />

<h5>Son enseignement : le HATHA YOGA</h5> 

<p>
  Maria enseigne le VINYASA YOGA : un yoga qui se veut dynamique et puissant, qui vous fera bouger votre corps, tout en respirant consciemment. 
  La combinaison d'exercices de pleine conscience, de respirations et de relaxation crée un équilibre idéal entre le physique et le mental. 
  Les séquences de mouvements vous aident à faire circuler votre propre énergie. 
</p>
<p>
  Maria aime créer des cours dynamiques qui vous permettent de vous connecter à votre corps et à votre souffle. 
  En tant que professeur de yoga certifiée, elle vous aidera à développer votre pratique personnelle du yoga.
</p>

<img src="/assets/img/maria_posture2.webp" width="300px" alt="Photo de Maria Jose Romero" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 

<ul>
  <li>Professeur de yoga certifiée (200 heures de formation) de Vinyasa Yoga, par Kootenay Yoga School.</li>
  <li>Coach de Santé, Institute for Integrative Nutrition, à New York.</li>
  <li>Coach de Respiration Pranayama, par Yoga Body School.</li>
  <li>Niveau 1,2 et 3 de Reiki, par Anastasia Godet</li>
  <li>Eté 2024, formation de Yin Yoga, à l'école Ayu Yoga School à Paris.</li>
</ul>
