<h5>Ora JOSEF-HAY</h5>

<img src="/assets/img/photo_ora.jpg" width="200px" height="200px" alt="Photo d'Ora JOSEF-HAY" class="teacher-profile-picture float-end" />

<p>Ora JOSEF-HAY (ex-GÉBUS) pratique le Yoga depuis 1976 et l'enseigne au niveau professionnel depuis 1991.</p>

<p>
  Elle est diplômée et membre de la Fédération Nationale des Enseignants de Yoga (FNEY).<br />
  Elle est membre de l'Union des Enseignants de Yoga de l'Isère (<a href="https://www.yoga-isere.com/" target="_blank">UEYI </a>).
</p>

<h5>Sa formation</h5> 

<p>Après 4 ans de formation à l'école d'Evian (Yoga de l'Energie), elle rédige un mémoire de fin d'étude sur le thème « Yoga et maternité ». Après passage des tests pratiques et théoriques, elle obtient son diplôme fédéral de la FNEY (Fédération Nationale des Enseignants de Yoga).</p>
<p>Par la suite, elle poursuit et approfondit ses connaissances en yoga en suivant pendant 5 ans le cursus complet de l’Académie du Yoga de l’Energie à Paris. Son mémoire de fin d’académie porte sur le thème de la mort.</p>
<p>
  Depuis, elle continue à suivre régulièrement des stages de formation continue et post-formation à Paris et Lyon ainsi que des stages plus ponctuels en France sur des aspects divers du yoga.<br />
  Elle suit régulièrement, les enseignements de Boris TATZKY (Académie de Yoga).Elle suit régulièrement, les enseignements de Boris TATZKY (Académie de Yoga).<br />
  Elle a participé également aux séminaires du docteur BOHLE portant sur le Yoga thérapie et l'éducation à la santé par le yoga.<br />
  Elle a approfondi l'étude des textes traditionnels avec ces deux enseignants ainsi qu'avec Michel ANGOT.<br />
  Elle a suivi ces dernières années des séminaires professionels en France auprès des enseignants indiens du KYM (Krishnamacharya Yoga Mandiran à Chenaï - Inde).
</p>

<h5>Son parcours</h5> 

<p>
  Née de parents indiens, elle a toujours été attirée par la culture, la philosophie de vie et la spiritualité indienne, bien que vivant en Israël puis en France.<br />
  Elle a découvert le yoga en Israël en 1976 puis, depuis 1984, elle l’a pratiqué en France auprès de plusieurs enseignants de courants différents, traditionnels ou plus récents.<br />
  En 1988, elle a rencontré le Yoga de l’Energie de Roger Clerc et l’a choisi pour sa pratique personnelle, ce yoga étant plus adapté aux occidentaux.<br />
  Elle a donc tout naturellement choisi l’école de Yoga de l’Energie d’Evian pour sa formation d’enseignante de Yoga.
</p>

<h5>Son activité</h5> 

<p>Depuis le début d'année 2012, elle a créé le Centre Vie en Yoga à Grenoble, lieu dédié à la pratique du yoga et des disciplines compatibles à l'état d'esprit du yoga.
Elle y dispense des cours de Yoga pour adultes de niveau débutant, intermédiaire et confirmé.</p>
<p>
  Elle est formatrice d'enseignants de yoga à l'EFYSE (Ecole Française de Yoga du Sud-Est - Aix en Provence)
ainsi qu'à l'EFYARA (Ecole Française de Yoga Auvergne Rhône Alpes - Lyon).<br />
  Elle propose également chaque année des stages de Yoga à thème, répartis sur toute l’année et durant un week-end ou plusieurs jours (stages résidentiels d’été).<br />
  Elle continue également à travailler de manière régulière pour l'association "Yoga au Champ" ainsi que ponctuellement pour d'autres organismes et associations.
</p>
<p>De par son intérêt profond pour l’être humain, elle a aussi développé dans son enseignement, des spécificités concernant différents aspects ou périodes de la vie :</p>

<ul>
  <li>Cours et séminaires sur la gestion du stress et des émotions,</li>
  <li>Formation dans des écoles d'infirmières à des pratiques de Yoga visant à améliorer la santé, le confort du malade et son accompagnement ainsi qu'à mieux gérer le stress et les émotions liés à cette profession.</li>
  <li>Stages sur le thème de la mort, de la souffrance, de l'accompagnement des personnes en fin de vie etc...</li>
  <li>Cours "Yoga en douceur" destinés aux personnes âgées ou porteuses d'un handicap ou d'une maladie.</li>
  <li>Yoga pour femmes enceintes (Yoga maternité),</li>
  <li>Le MANTRA YOGA, le Yoga des formules sacrées sonores,</li>
  <li>Yoga pour les enfants dans le contexte scolaire (maternelle et primaire) : conscience corporelle, relaxation, concentration et respiration.</li>
</ul>
