<h5>Ora JOSEF-HAY</h5> 

<img src="/assets/img/photo_ora.jpg" width="200px" height="200px" alt="Photo d'Ora JOSEF-HAY" class="circle-center-profile-picture" />

<p>
  D'origine indienne et amoureuse de la nature, Ora JOSEF-HAY a tout naturellement plongé dans l'univers du Yoga dès l'âge de 17 ans. 
  Elle en a fait un véritable art de vivre, dans le respect et l'harmonie. 
  Elle l'enseigne depuis l'âge de 33 ans car elle aime profondément les gens et apprécie d'apprendre et de transmettre.
</p>

<!--    ----------------------------------------------------SON PARCOURS  ----------------------------------------------------------------------   -->
<h5>Son parcours</h5> 

<p>
  Née de parents indiens, ayant grandi en Israël et vivant en France, elle a su créer un trait d’union entre ces 3 cultures. 
  Elle a pratiqué le Yoga à partir de 17 ans en Israël, puis en France auprès de plusieurs enseignants de courants différents, traditionnels ou plus modernes. 
  Dès sa majorité, elle a également beaucoup voyagé, car elle aime aller à la rencontre des gens et de leur culture. 
  Son attrait pour la nature et la montagne l’ont ensuite menée en Isère.
</p>

<img src="/assets/img/ora_03.webp" width="300px" alt="Photo d'Ora JOSEF-HAY" class="rond-center-profile-picture" />
<br />
<p>
  Elle a rencontré le Yoga de l’Energie de Roger Clerc. 
  Suite à ce coup de cœur, elle a fait son choix pour sa pratique personnelle et professionnelle. 
  Elle a réalisé sa formation d’enseignante à l’école de Yoga de l’Energie d’Evian. 
  Elle est diplômée et membre de la Fédération Nationale des Enseignants de Yoga (<a href="https://lemondeduyoga.org/lassociation-fney/" target="_blank">FNEY</a>) 
  et membre de l'Union des Enseignants de Yoga de l'Isère (<a href="https://www.yoga-isere.com/" target="_blank">UEYI</a>). 
</p>

<p>
  Depuis l’âge de 33 ans, elle enseigne à Grenoble et dans la région. <br />
  Son enseignement est à son image : une synthèse de ses 3 origines. 
  Elle propose un yoga qui s’enracine dans la tradition et qui prend en considération notre mode vie et notre culture occidentale.
</p>

<p>
  De par son intérêt profond pour l’être humain, elle a aussi développé dans son enseignement, des spécificités concernant différents aspects ou périodes de la vie :
</p>

<ul>
  <li>Cours et séminaires sur la gestion du stress et des émotions</li>
  <li>Formation dans des écoles d'infirmières à des pratiques de Yoga visant à améliorer la santé, le confort du malade et son accompagnement ainsi qu'à mieux gérer le stress et les émotions liés à cette profession</li>
  <li>Stages sur le thème de la mort, de la souffrance, de l'accompagnement des personnes en fin de vie</li>
  <li>Cours "Yoga Douceur" <a href="/cours/douceur/">(ici)</a> destinés aux Séniors ou PMR (personnes à mobilité réduite), personnes en situation de handicap ou en convalescence</li>
  <li>Yoga prénatal pour les femmes enceintes</li>
  <li>Yoga pour les enfants dans le contexte scolaire (maternelle et primaire) : conscience corporelle, relaxation, concentration et respiration</li>
</ul>

<p>
  Elle est également formatrice d’enseignants de yoga à l’<a href="https://conservatoireduyoga.net/efyara-ecole-francaise-de-yoga-auvergne-rhone-alpes" target="_blank">EFYARA </a> (Ecole Française de Yoga Auvergne Rhône Alpes - Lyon)
</p>

<p>
  En 2012, elle a créé le Centre Vie en Yoga à Grenoble, lieu à son image, dédié à la pratique du yoga et accueillant des enseignants d’origines cosmopolites avec une diversité de styles de yoga.
</p>

<p>
  Elle y dispense des cours de Yoga de niveau débutant à confirmé, de yoga prénatal et de yoga douceur <a href="/cours/douceur/">(ici)</a>. 
  Elle propose également des stages de Yoga <a href="/stages/">(ici)</a> et des retraites.
</p>

<img src="/assets/img/ora_02.webp" width="300px" alt="Photo d'Ora JOSEF-HAY" class="rond-center-profile-picture" />
<br />

<!--    ----------------------------------------------------   SON ENSEIGNEMENT  -------------------------------------------------------------------   -->
<h5>Son enseignement : le YOGA DE L'ENERGIE</h5> 

<p>
  Ora enseigne le YOGA DE L’ENERGIE, une forme de Hatha Yoga où l'accent est mis sur le ressenti, tout en accordant une place importante à la précision posturale. 
  Il présente une alternance entre des postures tenues dans le temps et des phases de récupération. 
  Pendant les enchainements, la respiration est primordiale. 
  Les phases d’inspirations et d’expirations sont guidées, ainsi que le lieu de la respiration, pour favoriser la circulation de l'énergie. 
  Ce Yoga est accessible à tous grâce à la progression proposée en "3 degrés" pour chaque posture. 
  Avec sa grande expérience et son écoute naturelle, Ora vous guide pour progresser à votre rythme, toujours dans la bonne humeur.
</p>

<img src="/assets/img/yoga_02.webp" width="300px" alt="Photo d'Ora JOSEF-HAY" class="rond-center-profile-picture" />
<br />

<!--    ----------------------------------------------------  SA FORMATION  ----------------------------------------------------------------------   -->
<h5>Sa formation</h5> 

<ul>
  <li>4 ans de formation à l'école d'Evian (Yoga de l'Energie), diplôme fédéral de la <a href="https://lemondeduyoga.org/lassociation-fney/" target="_blank">FNEY</a> (Fédération Nationale des Enseignants de Yoga).</li>
  <li>5 ans de cursus complet de l’Académie du Yoga de l’Energie à Paris. Son mémoire de fin d’académie porte sur le thème de la mort.</li>
  <li>25 ans de post-formation à Paris et à Lyon dont l’enseignement de Boris <a href="https://tatzkyboris.fr/" target="_blank">TATZKY </a> (Académie de Yoga).</li>
  <li>25 ans de stages de formation continue <a href="https://lemondeduyoga.org/lassociation-fney/" target="_blank">FNEY</a>.</li>
  <li>12 ans de séminaires du docteur <a href="https://anubhava-france.fr/docteur-mukund-v-bhole/" target="_blank">BOHLE </a> portant sur le Yoga thérapie et l'éducation à la santé par le yoga.</li>
  <li>Etude des textes traditionnels avec ces deux enseignants ainsi qu'avec Michel <a href="http://www.michelangot.com/" target="_blank">ANGOT</a>.</li>
  <li>Plusieurs séminaires professionnels en France auprès des enseignants indiens du <a href="https://www.kym.org/" target="_blank">KYM </a> (Krishnamacharya Yoga Mandiran à Chenaï - Inde).</li>
  <li>Nombreuses formations d’anatomie pour le mouvement auprès de Blandine <a href="https://www.calais-germain.com/" target="_blank">CALAIS-GERMAIN </a> et Hélène <a href="https://www.mouvement-anatomie.fr/" target="_blank">TODOROVITCH </a>.</li>
</ul>

