<h5>Ora JOSEF-HAY</h5> 

<img src="/assets/img/photo_ora.jpg" width="200px" height="200px" alt="Photo d'Ora JOSEF-HAY" class="teacher-profile-picture float-end" />

<p>Ora JOSEF-HAY (ex-GÉBUS) pratique le Yoga dès l'âge de 17 ans et l'enseigne depuis l'âge de 33 ans.</p>
Formatrice d’enseignants de yoga à l’école de Lyon (<a href="https://conservatoireduyoga.net/efyara-ecole-francaise-de-yoga-auvergne-rhone-alpes" target="_blank">EFYARA </a>)
<br /><br />
<p>
  Elle est diplômée et membre de la Fédération Nationale des Enseignants de Yoga (<a href="https://lemondeduyoga.org/lassociation-fney/" target="_blank">FNEY </a>).<br />
  Elle est membre de l'Union des Enseignants de Yoga de l'Isère (<a href="https://www.yoga-isere.com/" target="_blank">UEYI </a>).
</p>

<h5>Sa formation</h5> 


<ul>
  <li>4 ans de formation à l'école d'Evian (Yoga de l'Energie), diplôme fédéral de la <a href="https://lemondeduyoga.org/lassociation-fney/" target="_blank">FNEY </a> (Fédération Nationale des Enseignants de Yoga).</li>
  <li>5 ans de cursus complet de l’Académie du Yoga de l’Energie à Paris. Son mémoire de fin d’académie porte sur le thème de la mort.</li>
  <li>25 ans de post-formation à Paris et à Lyon dont l’enseignement de Boris <a href="https://tatzkyboris.fr/" target="_blank">TATZKY </a> (Académie de Yoga).</li>
  <li>25 ans de stages de formation continue <a href="https://lemondeduyoga.org/lassociation-fney/" target="_blank">FNEY </a>.</li>
  <li>12 ans de séminaires du docteur <a href="https://anubhava-france.fr/docteur-mukund-v-bhole/" target="_blank">BOHLE </a> portant sur le Yoga thérapie et l'éducation à la santé par le yoga.</li>
  <li>Etude des textes traditionnels avec ces deux enseignants ainsi qu'avec Michel <a href="http://www.michelangot.com/" target="_blank">ANGOT</a>.</li>
  <li>Plusieurs séminaires professionnels en France auprès des enseignants indiens du <a href="https://www.kym.org/" target="_blank">KYM </a> (Krishnamacharya Yoga Mandiran à Chenaï - Inde).</li>
  <li>Nombreuses formations d’anatomie pour le mouvement auprès de Blandine <a href="https://www.calais-germain.com/" target="_blank">CALAIS-GERMAIN </a> et Hélène <a href="https://www.mouvement-anatomie.fr/" target="_blank">TODOROVITCH </a>.</li>
</ul>

<img src="/assets/img/ora_03.webp" width="300px" alt="Photo d'Ora JOSEF-HAY" class="rond-center-profile-picture" />

<h5>Son parcours</h5> 

<p>
  Née de parents indiens, elle a toujours été attirée par la culture, la philosophie de vie et la spiritualité indienne, bien que vivant en Israël puis en France.<br />
  Elle a découvert le yoga en Israël en 1976 puis, depuis 1984, elle l’a pratiqué en France auprès de plusieurs enseignants de courants différents, traditionnels ou plus récents.<br />
  En 1988, elle a rencontré le Yoga de l’Energie de Roger Clerc et l’a choisi pour sa pratique personnelle, ce yoga étant plus adapté aux occidentaux.<br />
  Elle a donc tout naturellement choisi l’école de Yoga de l’Energie d’Evian pour sa formation d’enseignante de Yoga.
</p>

<img src="/assets/img/ora_02.webp" width="300px" alt="Photo d'Ora JOSEF-HAY" class="rond-center-profile-picture" />


<h5>Son activité</h5> 

<p>Depuis le début d'année 2012, elle a créé le Centre Vie en Yoga à Grenoble, lieu dédié à la pratique du yoga et des disciplines compatibles à l'état d'esprit du yoga.
Elle y dispense des cours de Yoga pour adultes de niveau débutant, intermédiaire et confirmé.</p>
<p>
  Elle est formatrice d'enseignants de yoga à l'EFYSE (Ecole Française de Yoga du Sud-Est - Aix en Provence)
ainsi qu'à l'<a href="https://conservatoireduyoga.net/efyara-ecole-francaise-de-yoga-auvergne-rhone-alpes" target="_blank">EFYARA </a>(Ecole Française de Yoga Auvergne Rhône Alpes - Lyon).<br />
  Elle propose également chaque année des stages de Yoga à thème, répartis sur toute l’année et durant un week-end ou plusieurs jours (stages résidentiels d’été).<br />
  Elle continue également à travailler, ponctuellement, mais de manière régulière pour d'autres organismes et associations.
</p>
<p>De par son intérêt profond pour l’être humain, elle a aussi développé dans son enseignement, des spécificités concernant différents aspects ou périodes de la vie :</p>

<ul>
  <li>Cours et séminaires sur la gestion du stress et des émotions,</li>
  <li>Formation dans des écoles d'infirmières à des pratiques de Yoga visant à améliorer la santé, le confort du malade et son accompagnement ainsi qu'à mieux gérer le stress et les émotions liés à cette profession.</li>
  <li>Stages sur le thème de la mort, de la souffrance, de l'accompagnement des personnes en fin de vie etc...</li>
  <li>Cours "Yoga Douceur" destinés aux Séniors ou PMR (personnes à mobilité réduite) ou en convalescence.</li>
  <li>Yoga pour femmes enceintes (Yoga maternité, Yoga Prénatal),</li>
  <li>Yoga pour les enfants dans le contexte scolaire (maternelle et primaire) : conscience corporelle, relaxation, concentration et respiration.</li>
</ul>
