<h5>Sébastien DUPONT</h5> 

<img src="/assets/img/portrait_sebastien.webp" width="200px" height="200px" alt="Photo de Sébastien Dupont" class="circle-center-profile-picture" />

<p>Ce grand voyageur pratique le Yoga depuis l’âge de 16 ans et l’enseigne depuis ses 28 ans. Il aime également la musique classique et le violon, qu’il a étudié à haut niveau.</p>

<h5>Son parcours</h5> 

<p>
  Sébastien a découvert la méditation zen à 14 ans et le yoga à 16 ans. 
  Il a débuté sa formation en France en étudiant le Hatha Yoga, l’approche Iyengar et le Viniyoga. 
  C’est lors de ses nombreux voyages en Inde qu’il découvre le Yoga dans son aspect traditionnel.
</p>
<p>
  Parallèlement au Yoga, il étudie la musique classique depuis l’âge de 7 ans, notamment le violon, et obtient en 2007 un premier prix du Conservatoire National Supérieur de Musique 
  et de Danse de Lyon en composition. Il enseigne le yoga aux élèves musiciens et danseurs du conservatoire.
</p>
<p>
  Sébastien a enseigné le yoga à Genève, Lyon, Annecy, Kazan en Russie. 
  Il a résidé 10 ans à Moscou, travaillant comme professeur de yoga au prestigieux studio Yoga Class, ainsi qu’en donnant des cours privés. 
  Depuis plusieurs années, il anime une chaîne YouTube, Yoga Systema, où sont proposés de nombreux cours de yoga, des interviews et des réflexions sur le yoga.
</p>
<p>
  Depuis 2020, Sébastien a lancé la formation de professeur de yoga, Yoga Systema®, qui a déjà formé de nombreux enseignants.
</p>

<img src="/assets/img/sebastien_mains.webp" width="300px" alt="Photo de Sébastien dupont" class="rond-center-profile-picture" />
<br />

<h5>Son enseignement : le HATHA YOGA</h5> 

<p>
  Sébastien <a href="https://www.yogasystema.com/" target="_blank">enseigne</a> le HATHA YOGA, forme traditionnelle du yoga, tout en s’adaptant au mode de vie occidental. 
  Son approche combine la rigueur du « yoga Iyengar », au dynamisme de l’approche Desikachar, mais s’ancre résolument dans la tradition des textes traditionnels du Hatha Yoga 
  (Hatha Yoga Pradipika, Gherand Samhita, Shiva Samhita). 
  Sébastien vous donne des conseils pour respecter vos alignements articulaires et progresser sur votre précision posturale.
</p>

<img src="/assets/img/sebastien_kazan4.webp" width="300px" alt="Photo de Sébastien Dupont" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 

<p>
  Il commence à pratiquer le yoga à 16 ans, à travers la méthode développée par André Van Lysebeth. 
  Il poursuit sa formation en yoga avec Joël Potheret, suivant l’approche Iyengar, puis Michel Alibert, formateur de Viniyoga selon l’approche Desikachar.
</p>
<p>
  C’est lors de ses nombreux séjours en Inde qu’il découvre l’aspect traditionnel du Yoga. 
  Il réside aux ashrams de Ramana Maharshi et Swami Ramdas. 
  Il fréquente la Yogashala de Sri Patthabi Joys et le Sivanandashram. 
  Il vit auprès de Swami Vijayananda, l’un des plus anciens disciples de Ma Anandamayi, dans l’Himalaya. 
  Il séjourne régulièrement au Krishnashram, à l’ashram d’Amma et celui d’Amritapuri dans le Kerala.
</p>
