<h5>Sébastien DUPONT</h5> 

<img src="/assets/img/portrait_sebastien.webp" width="200px" height="200px" alt="Photo de Sébastien Dupont" class="teacher-profile-picture float-end" />

<p>Né en 1979, Sébastien pratique le yoga depuis l’âge de 16 ans et l’enseigne depuis l’âge de 28 ans. A l’âge de 14 ans, il découvre la méditation zen et à 16 ans, le Yoga, à travers la méthode développée par André Van Lysebeth.</p>
<br /><br />

<h5>Sa formation</h5> 

<p>Il poursuit sa formation en yoga avec Joël Potheret (approche Iyengar), et Michel Alibert (formateur de professeurs à l’association française de Viniyoga, selon l’approche Desikachar).</p>

<p>C’est lors de ses nombreux séjours en Inde qu’il découvre le Yoga dans son aspect traditionnel. 
   Il y séjourne aux ashrams de Ramana Maharshi (Tiruvannamalai), Swami Ramdas (Kahangad), fréquente la Yogashala de Sri Patthabi Joys (Mysore) et le Sivanandashram (Rishikesh). 
   A Haridwar (Himalaya), il séjourne auprès de Swami Vijayananda (un des plus anciens disciples de Ma Anandamayi), et à Gangotri, au Krishnashram. 
   Il séjourne également régulièrement à l’ashram d’Amma (Ma Amritanandamayi), à Amritapuri (Kerala).</p>

<p>Parallèlement au Yoga, il étudie la musique classique au plus haut niveau depuis l’âge de 7 ans (violon) et obtient en 2007 un premier prix du Conservatoire National Supérieur de Musique et de Danse de Lyon (France) en composition.
Il enseigne le yoga aux élèves musiciens et danseurs du conservatoire.</p>   

<img src="/assets/img/sebastien_01.webp" width="300px" alt="Photo de Sébastien Dupont" class="rond-center-profile-picture" />
<br />
<h5>Son approche</h5> 

<p>Combine la rigueur du « yoga Iyengar », au dynamisme de l’approche Desikachar, mais s’ancre résolument dans la tradition des textes traditionnels du Hatha Yoga (Hatha Yoga Pradipika, Gherand Samhita, Shiva Samhita)
tout en s’adaptant au mode de vie occidental.
</p>

<img src="/assets/img/sebastien_mains.webp" width="300px" alt="Photo de Sébastien dupont" class="rond-center-profile-picture" />
<br />

<h5>Son parcours</h5> 

<p>
  Sébastien enseigne, ou a enseigné le yoga, à Genève, Lyon, Annecy, Kazan (Russie) et a résidé 10 ans à Moscou, où il a enseigné au prestigieux studio Yoga Class ainsi qu’en cours privés. 
  Depuis plusieurs années, il anime une chaîne YouTube (Yoga Systema), où est proposé une multitude de cours de yoga, des interviews, discussions et réflexions, ainsi que deux cours en direct et gratuits, les mercredi et dimanche à 19h.
</p>
<p>
  Depuis 2020, Sébastien a lancé la formation de professeur de yoga Yoga Systema® qui a déjà formé de nombreux enseignants.
</p>

