<h5>Sophie LAGRANGE</h5> 

<img src="/assets/img/portrait_sophie.webp" width="200px" height="200px" alt="Photo de Sophie Lagrange" class="circle-center-profile-picture" />

<p>
  Sophie est convaincue de l'existence d'un lien corps-esprit invisible mais bien réel. 
  Désirant donner à ce sujet une place principale dans sa vie actuelle, elle a troqué son travail d'ingénieur pour le Yoga et la psychologie biodynamique.
</p>

<h5>Son parcours</h5> 

<p>
  Elle plonge dans l’univers du Yoga lors d'une retraite en Asie, il y a 5 ans. 
  Ses journées se remplissent de pratiques du Hatha Yoga, de Vinyasa, de yoga aérien... 
  Son cœur lui dit alors d’approfondir cette voie.
</p>
<p>
  A son retour en France, elle pratique l’Ashtanga Yoga avec Vanessa Haubricht, qui lui apporte précision, reliance au souffle, puissance et bien-être. 
  Elle poursuit le yoga Vinyasa avec Cécile Reboule, qui la guide dans la fluidité, le mouvement et la circulation du Prana. 
  Ponctuellement, avec Emilie Besse, la poésie s’ajoute à tout cela.
</p>
<p>
  Son chemin se poursuit par une formation de professeur de Viniyoga en France. 
  Puis, en Inde, elle suit une formation intensive de professeur de Hatha Yoga. 
  Ensuite, la maternité lui fait expérimenter les bénéfices du yoga enceinte et en post partum. 
  Elle décide donc de se former au Yoga pré et post natal. 
  Depuis, elle propose des cours collectifs et individuels de Viniyoga.
</p>
<p>
  Sur ce chemin, elle a aussi rencontré la Psychologie Biodynamique, l'une des branches des thérapies psychocorporelles.
</p>  

<img src="/assets/img/sophie_danse_shiva.webp" width="300px" alt="Photo de Sophie Lagrange" class="rond-center-profile-picture" />
<br />

<h5>Son enseignement : le VINIYOGA</h5> 

<p>
  Sophie enseigne le VINIYOGA, un yoga progressif où les postures sont associées au souffle. 
  Le Viniyoga a été développé par Krishnamacharya, l'un des grands initiateurs du développement du yoga en occident, et son fils Desikachar. 
  Selon eux, "Ce n’est pas la personne qui doit s’adapter au yoga, mais le yoga qui doit être ajusté à chaque personne". 
  Ainsi, elle peut vous proposer de nombreuses adaptations au cours de la séance.
</p>
<p>
  Au travers des cours, elle vous guide dans différentes pratiques : 
</p>
<ul>
  <li>les postures, asanas</li>
  <li>les exercices respiratoires, pranayamas</li>
  <li>les mantras</li>
  <li>la relaxation</li>
  <li>la concentration, dharana</li>
  <li>une approche de la méditation, dhyana</li>
</ul>
<p>
  L’intention fondamentale et commune à chaque séance est une reconnexion à vous-même et en particulier au souffle, au Prana. 
  Vous progresserez vers un équilibre et un bien-être entre corps et mental.
</p>
<img src="/assets/img/sophie_guerrier3_carre.webp" width="300px" alt="Photo de Sophie Lagrange" class="rond-center-profile-picture" />
<br />

<h5>Sa formation</h5> 

<ul>
  <li>Diplôme de professeur de Viniyoga auprès de Lola Mallein au sein de l’école Sadhana Life Center. 
      Cette formation de 500 heures étalées sur 3 ans est reconnue par la Fédération Francophone de Yoga. 
      Un enseignement riche et profond, à la découverte des fondamentaux du Yoga, l’étude philosophique et spirituelle, des asanas, du pranayama, de mantras…</li>
  <li>Formation Professeur de Hatha Yoga intensive de 200 heures à Rishikesh Yog Dam School, en Inde. 
      Intensité et dépassement de soi sont au cœur de cette formation.</li>
  <li>Enseignement sur le yoga pré et post natal auprès de Tatiana Elle (« papesse » du yoga de la femme) et Nadia Mazeri.</li>
  <li>Formation sur 5 ans dispensée par l'Ecole de Psychologie Biodynamique.</li>
</ul>
