<h5>Yannick MAGNAT</h5>

<img src="/assets/img/photo_yannick.jpg" width="200px" height="200px" alt="Photo de Yannick MAGNAT" class="teacher-profile-picture float-end" />

<h5>Son parcours</h5> 

<p>Yannick a très vite été attirée par la spiritualité orientale et le Yoga.
La vie l'a naturellement menée vers Ora. Cela fait 9 ans qu'elle suit ses cours, avec bonheur.
Cette rencontre humaine et spirituelle a modifié sa vie et a éveillé le désir d'approfondir cette discipline et de partager son vécu à travers l'enseignement.</p>

<h5>Sa formation</h5> 

<p>Formation à l'EFYARA (école Française de Yoga Auvergne Rhône-Alpes- Lyon), elle continue de bénéficier de l'enseignement d'Ora, et d'autres professeurs-formateurs de l'école.
Formée au RYE (Recherche Yoga dans l’éducation), elle anime aussi des ateliers de Yoga auprès du jeune public.</p>

<h5>Son moteur</h5> 

<p>L'échange, l'énergie et l'ouverture du cœur la guident dans ses pratiques et son enseignement. Que chacun trouve dans la voie du Yoga un apaisement, et une meilleure connaissance de soi. Que chacun puisse pratiquer le Yoga et le laisser infuser au plus profond de son être !</p>
